backup/

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.dvi
*.ps
*.thm
*.ilg
*.ind
*.idx
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.bcf
*.run.xml
.vscode/settings.json
